
<div class="wrapp_news">
        {% for n in news %}
        <ul class="news">
            <li><p>{{ n.title }}</p></li>
            {% if preamble %}
                <p>{{ n.preamble|safe }}</p>
            {% endif %}
        </ul>
        {% endfor %}

</div>
