{% load i18n lfs_tags sshop_tags %}
<table class="table table-bordered table-striped lfs-default">
    <tr>
        <th colspan="2">
            {% trans 'Product' %}
        </th>
        <th class="number">
            {% trans 'Quantity' %}
        </th>
        <th class="number">
            {% trans 'Price' %}
        </th>
        <th class="number">
            {% trans 'Total' %}
        </th>
    </tr>
    {% for cart_item in cart_items %}
        <tr>
            <td class="image">
                    {% if cart_item.product.get_image.image %}
                    <img 1 src="{{ cart_item.product.get_image.image.url}}"
                         alt="{{ cart_item.product.get_name }}" class="thumbnail"/>
                    {% else %}
                        <img alt="{{ product.name }}" src="{{ STATIC_URL }}img/60x60.gif" class="thumbnail" />
                    {% endif %}
            </td>
            <td>
                {{ cart_item.product.get_name }}
                {% comment %}
                {% for property in cart_item.product.get_variant_properties %}
                    <div>
                        {{ property.title }}: {{ property.value }} {{ property.unit|safe }}
                    </div>
                {% endfor %}

                {% for property in cart_item.product.get_displayed_properties %}
                    <div>
                        {{ property.title }}: {{ property.value }} {{ property.unit|safe }}
                    </div>
                {% endfor %}

                {% if cart_item.product.is_configurable_product %}
                    {% for property in cart_item.obj.get_properties %}
                        <div>
                            {{ property.title }}: {{ property.value }} {{ property.unit|safe }}
                            {% if property.obj.is_select_field and property.display_price %}
                                ({{ property.price|currency:request}})
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
                {% endcomment %}

            </td>
            <td class="number">
                {{ cart_item.quantity }} {{ cart_item.product.unit }}

            </td>
            <td class="number">
                {% format_as_price cart_item.product_price %}
            </td>
            <td class="number">
                {% format_as_price cart_item.product_price_total %}
            </td>
        </tr>
    {% endfor %}
    <tr class="total">
        <td colspan="4"></td>
        <td class="number total">
            {% trans 'Total' %}: {% format_as_price total %}
        </td>
    </tr>
</table>
