{% load i18n lfs_tags %}
{% load vertical_menu_tags %}
{# Link bar #}
<div class="navbar header-nav pull-left">
    {% actions Link_bar %}
    <ul class="nav">
        {% for action in actions %}
            <li><a href="{{ action.link }}"  {% if action.link == request.path %} class="active" {% endif %}>{{ action.title }}</a></li>
        {% endfor %}
        {% vertical_menu %}
    </ul>
</div>
