{% extends "lfs/base.html" %}
{% load i18n lfs_tags %}
{% load url from future %}
{% load bootstrap_toolkit %}

{% block title %}
    {% trans 'Checkout' %} - {{ block.super }}
{% endblock %}

{% block section %}checkout{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs _("Checkout") %}
{% endblock %}

{% block wrapper %}
    {% if form.errors %}
        <div class="alert alert-error">
            {% trans "The operation could not be performed because one or more errors occurred. Please see below." %}
        </div>
    {% endif %}
    <h3>{% trans "Оформление заказа" %}</h3>
    {% if request.user.is_anonymous %}
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="{% url 'lfs_checkout' %}">{% trans "Новий покупець" %}</a>
        </li>
        {% if SHOP.show_regular_customer_tab %}
        <li>
            <a href="{% url 'lfs_checkout_authorization' %}">{% trans "Я постійний клієнт" %}</a>
        </li>
        {% endif %}
    </ul>
    {% endif %}
    <div class="checkout-form-wrapper">
        {{ form.media }}
        <form class="checkout-form form-horizontal"
              method="post"
              data="{% url 'lfs_changed_checkout' %}">
            {% csrf_token %}

            <div class="row-fluid">
                <div class="span6">
                    <legend>{% trans "Контактные данные" %}</legend>
                    <div class="custom-form customer-form"
                        data-update-url="{% url 'update_customer_form' %}">
                    {% include "lfs/checkout/customer_form.html" %}
                    </div>

                    {% if form.email_choice %}
                    {{ form.email_choice|as_bootstrap:"horizontal" }}
                    <div class="checkout-form__email--custom __anchor__toggable{% if form.phone.errors %} __action__show-on-ready{% endif %}">
                    {% if form.email %}
                    {{ form.email|as_bootstrap:"horizontal" }}
                    {% endif %}
                    </div>
                    {% else %}
                    {% if form.email %}
                    {{ form.email|as_bootstrap:"horizontal" }}
                    {% endif %}                   
                    {% endif %}

                    {% if form.phone_choice %}
                    {{ form.phone_choice|as_bootstrap:"horizontal" }}
                    <div class="checkout-form__phone--custom __anchor__toggable{% if form.phone.errors %} __action__show-on-ready{% endif %}">
                    {% if form.phone %}
                    {{ form.phone|as_bootstrap:"horizontal" }}
                    {% endif %}
                    </div>
                    {% else %}
                    {% if form.phone %}
                    {{ form.phone|as_bootstrap:"horizontal" }}
                    {% endif %}                   
                    {% endif %}

                    <div class="checkout-form__address--select __anchor__toggable">
                    {% if form.address_choice %}
                    {{ form.address_choice|as_bootstrap:"horizontal" }}
                    {% endif %}
                    </div>
                    {% if not show_address_select %}
                    <script type="text/javascript">
                    $(".checkout-form__address--select").hide();
                    </script>
                    {% endif %}
                    <hr/>
                    {# Shipping #}
                    {% if show_shipping %}
                    <div class="shipping">
                        <div id="shipping-inline">
                            {{ shipping_inline|safe }}
                        </div>
                    </div>                  
                    <div class="custom-form shipping-form"
                        data-update-url="{% url 'update_shipping_form' %}">
                        {% include "lfs/checkout/shipping_form.html" %}
                    </div>
                    {% endif %}

                    {# Payment #}
                    {% if show_payment %}
                    <div class="payment">
                        <div id="payment-inline">
                            {{ payment_inline|safe }}
                        </div>
                    </div>
                    <div class="custom-form payment-form"
                        data-update-url="{% url 'update_payment_form' %}">
                        {% include "lfs/checkout/payment_form.html" %}
                    </div>
                    {% endif %}

                    <hr/>
                    <div class="custom-form customer-form"
                        data-update-url="{% url 'update_order_form' %}">
                    {% include "lfs/checkout/order_form.html" %}
                    </div>
                    {{ form.captcha|as_bootstrap:"horizontal" }}
                </div>
                <div class="span6">
                    {# Cart #}
                    <div id="cart-inline">
                        {{ cart_inline }}
                    </div>
                </div>
            </div>

            {# Message #}
            {% if show_comment %}
            <a id="show_message">{% trans "Додати коментар" %}</a>
            <div class="hidden" id="div_message">
                {{ form.message|as_bootstrap:"horizontal" }}
            </div>
            {% endif %}
            <br>
            {% if SHOP.cart_require_accept_rules %}
                {% if form.errors.cart_require_accept_rules %}
                    <div class="alert alert-error">
                        {{ form.errors.cart_require_accept_rules }}
                    </div>
                {% endif %}
                
                <input type="checkbox" name="cart_require_accept_rules" id="cart_require_accept_rules" />
                {{ SHOP.cart_link_to_rules|safe }}
            {% endif %}

            <div class="form-actions">
                {% comment %}
                <button class="btn btn-primary"
                        type="submit">
                    {% trans 'Submit order' %}
                </button>
                {% endcomment %}
                <a class="btn btn-primary" id="sumbit_order">{% trans 'Submit order' %}</a>
            </div>

            {% if request.user.is_anonymous %}
                <input type="hidden"
                       name="is_anonymous"
                       value="1" />
            {% else %}
                <input type="hidden"
                       name="is_anonymous"
                       value="0" />
            {% endif %}

        </form>
    </div>
    <script type="text/javascript">
    $('#show_message').click(function(){
        $('#div_message').toggleClass('hidden')
        if ($(this)[0].innerHTML == '{% trans "Додати коментар" %}')
        {
            $(this)[0].innerHTML = '{% trans "Приховати коментар" %}'
        }
        else
        {
            $(this)[0].innerHTML = '{% trans "Додати коментар" %}'
        }
    });
    </script>
{% endblock %}
