{% load i18n l10n lfs_tags sshop_tags reviews_tags %}
        {% load share_widget %}
<div class="row-fluid">
<div class="span12">

<form id="product-form" action="{% url lfs.catalog.views.product_form_dispatcher %}"
class="add-to-cart-form" method="post">
{% csrf_token %}

<div class="row-fluid product-detail">
    {# Images #}
    <div class="span9">
        {% if product.get_image %}
        <a href="{{ product.get_image.image.url }}" class="product-detail-lightbox colorbox product-image"
        rel="colorbox" title="{{ product.get_image.title }}">
        {% badges_for_product product %}
        <img  src="{{ product.get_image.image.url}}"
             alt="{{ product.get_image.title }}"
             class="product-image thumbnail"
             itemprop="image" />
        </a>
        {% else %}
        <img src="{{ STATIC_URL }}img/200x200.gif" alt="{{ product.get_image.title }}"
        class="product-image" />
        {% endif %}
        <div class="vertical-slider">
        <ul class="thumbnails main-product">
            {% for image in product.get_sub_images %}
            <li class="span4">
                <a href="{{ image.image.url }}" class="colorbox thumbnail" rel="colorbox"
                title="{{ image.title }}">
        <img src="{{ image.image.url }}"
             alt="{{ image.title }}" />
            </a>
            </li>
            {% endfor %}
        </ul>
        </div>
    </div>
    <div class="span3">
        <h1 class="product-caption"><span itemprop="name">{{ product.get_name }}</span></h1>
        <div class="product-description">{{ product.get_short_description|safe }}</div>
                <div class="prices">
                {% if product.get_for_sale %}
                    <div class="product-price">
                    <span class="label label-important price" price="{{ product.price }}" currency="{{ currency.code }}"> {% for_sale_price product %}</span>
                    <ul>
                    <li><span class="for-sale-price">{% trans 'Instead' %}: {% standard_price product %}</span></li>
                    <li><span class="for-sale-standard-price">{% trans 'You save' %}: {% price_difference product %}</span></li>
                    </ul>
                    </div>
                {% else %}
                    <div class="product-price">
                    <span class="label label-info price standard-price-value" price="{{ product.price }}" currency="{{ currency.code }}">Ціна: {% price product %}  <p id="price-dol_{{ product.id }}"></p> {% static_block "price" %}
                        <script type="text/javascript">
                                $(document).ready(function(){
                                    var v1 = {{ product.price|floatformat }};
                                    var v2 = $('#usd').text();  // тут берём текст спана. хотя можно было бы и 123 написать
                                    var res = v1 / v2;
                                    $('#price-dol_{{ product.id }}').html(res.toFixed(2) + " $" );
                              });
                    </script></span>
                    </div>
                {% endif %}
                </div>
                {% if product.status.show_buy_button %}
                {% if product.get_active_packing_unit %}
                <div class="product-quantity packing-unit pull-left" id="packing-url"
                data="{% url lfs_calculate_packing product.id %}">
                    <input class="number quantity" name="quantity" type="text"
                    value="{{ product.default_value }}" />
                    {{ unit }}
                </div>
                {% else %}
                <div class="product-quantity">

                    <input class="number quantity input-small" name="quantity" size="3" type="text"
                    value="{{ product.default_value }}" /> кількість&nbsp;
                </div>
                {% endif %}

                <button class="btn btn-primary emphasized" type="submit" name="add-to-cart">
                    <i class="icon-shopping-cart icon-white"> </i>
                     {% trans 'В кошик' %}
                </button>
        {% else %}
            <button class="btn btn-primary emphasized"
            onclick="window.location='{% url lfs_contact_form %}'; return false"
            name="">
                <i class="icon-shopping-cart icon-white">
                </i>
                {% trans 'Send request' %}
            </button>
        {% endif %}
        <div> 
            <h4>Про виріб</h4>
                <div class="product-description">{{ product.get_description|safe }}</div>
        </div>
    </div>
</div>
<input type="hidden" name="product_id" value="{{ product.id }}" />

